

/* Grosor Ligth (200) */
@font-face {
  font-family: 'Cal Sans';
  src: url('/assets/webfonts/CalSansText-Light.woff2') format('woff2');
  font-weight: 200; /* O 'normal' */
  font-style: normal;
 
}

/* Grosor Bold */
@font-face {
  font-family: 'Cal Sans';
  src: url('/assets/webfonts/CalSansText-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;

}

html {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  color: #111;
  line-height: 100%;
  letter-spacing: 0;
}

.text-display {}

.text-heading-1 {
  font-size: 2rem;
  font-weight: 200;
  line-height: 105%;
  letter-spacing: 0;    
}
.text-heading-2 {
  font-weight: 200;
  font-size: 1.3rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  line-height: 115%;
}

.text-heading-3{
  font-weight: 200;
  font-size: 1rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.text-body {
  font-size: 1rem;
  font-weight: 200;
  line-height: 125%;
}

.text-body-sm {
  font-size: 0.875rem;
  font-weight: 200;
  line-height: 125%;
  color: #737373;
}

.text-caption {
  font-weight: 200;
  font-size: 0.6875rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  }

.text-label {
  font-weight: 200;
  font-size: 0.6875rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  white-space: nowrap;
}

q {
  font-weight: 200;
  font-size: 1.4rem;
  line-height: 115%;
}


  @media (max-width: 600px) {

    

    .text-label{line-height: 110%;}

    .tag.rayas {font-size: 0.7rem;}

    .small-mobile{
       font-weight: 200;
       font-size: 0.85rem;
       letter-spacing: -0.01em;
       
    }
  }